body{
  background-color: #B22234;
}
.App {
  text-align: center;
  height: 99vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #B22234;
  height: 100%;
  padding: 20px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input {
  height: 3em;
  width: 5em;
  padding-left: 0em;
  background-color: rgba(0,0,0,0);
  border-width: 4px;
  border-style: solid;
  border-color: white;
  color: white;
  font-size: 1.2em;
  margin: 1em 0em;
  text-align: center
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1em;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

