.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #B22234;
  height: 100%;
  padding: 20px;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input {
  height: 4em;
  width: 30em;
  padding-left: 1em;
  background-color: rgba(0,0,0,0);
  border-width: 4px;
  border-style: solid;
  border-color: white;
  color: white;
  font-size: 1.2em;
  margin: 4em 0em;
  text-align: center
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  font-size: 1.2em;
}

input:active { 
  background-color: green;
  content: " - Remember this";

}

input::after { 
  content: " - Remember this";
}

